img {
    margin-top: 2px;
    justify-content: center;
    border-radius: 50px;
    transition: border 0.3s;
}


img:hover {
    justify-content: center;
    border-radius: 50px;
    transition: 0.4s;
    transform: scale(1.2);
    border: 5px solid #f7f7f700;
}